@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.home {
    display: flex;
    flex-direction: column;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.information{
    background: rgba(14, 32, 21, 0.675);
    backdrop-filter: blur(1rem);
    box-shadow: 0 0px 16px 16px #000000c9 inset;
    column-gap: 3rem;
    grid-area: 4 / 1 / 5 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    padding: 1rem 5rem;
}