@use "../../assets/styles/mixins.scss" as m;

#layout{
    overflow                    : auto;
    position                    : relative;
    margin                      : 0 2rem;
    
    @include m.screen-type(mini-mobile){
        @include m.tgrid(1, 1, 1rem);
        background-color        : red;
    }
    @include m.screen-type(mobile){
        @include m.tgrid(1, 1, 2rem);
        background-color        : blue;
    }
    @include m.screen-type(tablet){
        @include m.tgrid(1, 1, 3rem);
        background-color        : green;
    }
    @include m.screen-type(laptop){
        @include m.tgrid(1, 1, 4rem);
        background-color        : yellow;
    }
    @include m.screen-type(desktop){
        @include m.tgrid(1, 1, 5rem);
        background-color        : orange;
    }
}
#layout::before {
    content                     : "";
    top                         : 0;
    right                       : 0;
    z-index                     : -1;
    display                     : block;
    background-size             : cover;
    width                       : 100%;
    height                      : 100%;
    filter                      : brightness(40%);
}  