@use "../../assets/styles/mixins.scss" as m;

#layout{
    @include m.screen-type(mini-mobile){
        background-color: red;
    }
    @include m.screen-type(mobile){
        background-color: blue;
    }
    @include m.screen-type(tablet){
        background-color: green;
    }
    @include m.screen-type(laptop){
        background-color: yellow;
    }
    @include m.screen-type(desktop){
        background-color: orange;
    }
}

body {
    overflow: auto;
    position: relative;
    margin: 0 2rem;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}  