@use "../../assets/styles/variables.scss" as v;
@use "../../assets/styles/mixins.scss" as m;

.form {
  background-color: v.$color-bg;
  padding: 1.5rem;
  border-radius: v.$radius;
  max-width: 100%;
  margin: 0 auto;

  &__title {
    margin-bottom: 1.5rem;
    text-align: center;
    color: v.$color-text;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      margin-bottom: 0.4rem;
      font-size: 0.9rem;
      color: v.$color-text;
    }

    input,
    textarea {
      padding: 0.6rem 0.75rem;
      border-radius: v.$radius;
      border: 1px solid v.$color-bg;
      font-size: 1rem;
      transition: border-color v.$transition, box-shadow v.$transition;

      &:focus {
        outline: none;
        border-color: v.$color-primary;
        box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
      }
    }
  }

  &__button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: v.$radius;
    background-color: v.$color-primary;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color v.$transition;
    &:hover {
      background-color: v.$color-secondary;
    }
  }
}

@include m.screen-type(tablet){
    .form {
    padding: 2rem;
    max-width: 500px;
  }
}
@include m.screen-type(desktop){
    .form {
    max-width: 600px;
  }
}