@use "../../assets/styles/variables.scss" as var;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var.$color-bg;
  color: var.$color-text;
  position: top;
  top: 0;
  height: var.$header-height;
  z-index: 100;
}