@use "../../assets/styles/variables.scss" as v;
@use "../../assets/styles/mixins.scss" as m;

.active-link{
    border-bottom           : 2px solid v.$color-text;
    color                   : v.$color-text!important;
}

.header {
  height                    : 60px;
  position                  : relative;
  color                     : v.$color-text;
}
.header .navbar .nav-elements ul a{
    @include m.font(22px, 1.05px, 400, v.$primary-font, v.$color-secondary);
    text-decoration         : none;
    text-align              : center;
}
.menu-icon { 
  display                   : none; 
}
.nav-container {
    max-width               : 1100px;
    margin                  : 0 auto;
    display                 : flex;
    justify-content         : space-between;
    align-items             : center;
    height                  : 100%;
}
.nav-elements { z-index     : 3;}
.nav-elements ul {
    display                 : flex;
    justify-content         : space-between;
    list-style-type         : none;
}
.nav-elements ul li{
    margin-right            : 2rem;
    text-align              : center;
}
.nav-elements ul a {
    @include m.font(16px, 1px, 400, v.$primary-font, v.$color-primary);
}
.nav-elements.active {
        right               : 0;
        width               : 100vw;
        z-index             : 2;
    }
.nav-elements ul a.active {
    color                   : #574c4c;
    font-weight             : 500;
    position                : relative;
}
.nav-elements ul a.active::after {
    position                : absolute;
    bottom                  : -4px;
    left                    : 0;
    width                   : 100%;
    height                  : 2px;
    background-color        : #574c4c;
    font-size               : 100%;
}
.nav-elements ul li a, .tech {
    transition              : all 0.2s ease-in-out;
    cursor                  : pointer;
}
.nav-elements ul li a:hover{
    color                   : v.$color-primary;
    text-shadow             : 0px 0px 40px v.$color-primary;
} 
.navbar {
    display                 : flex;
    height                  : 60px;
    position                : relative;
}

@include m.screen-type(mini-mobile){
    @include m.menu-icon-mobile-styles();
    @include m.menu-nav-elements-mobile-styles();}
@include m.screen-type(mobile){
    @include m.menu-icon-mobile-styles();
    @include m.menu-nav-elements-mobile-styles();}