@use "../../assets/styles/variables.scss" as v;
@use "../../assets/styles/mixins.scss" as m;

.header {
  display                   : flex;
  height                    : 60px;
  position                  : relative;
  background                : v.$color-bg;
  color                     : v.$color-text;
}
.menu-icon { 
  display                   : none; 
}
.nav-container {
    max-width               : 1100px;
    margin                  : 0 auto;
    padding                 : 0 15px;
    display                 : flex;
    justify-content         : space-between;
    align-items             : center;
    height                  : 100%;
}
.nav-elements { z-index: 3;}
.nav-elements ul {
    display                 : flex;
    justify-content         : space-between;
    list-style-type         : none;
}
.nav-elements ul li{
    margin-right            : 2rem;
    text-align              : center;
}
.nav-elements ul a {
    font-size               : 16px;
    font-weight             : 400;
    text-decoration         : none;
    color                   : v.$color-primary;
}
.nav-elements ul a.active {
    color                   : #574c4c;
    font-weight             : 500;
    position                : relative;
}
.nav-elements ul a.active::after {
    position                : absolute;
    bottom                  : -4px;
    left                    : 0;
    width                   : 100%;
    height                  : 2px;
    background-color        : #574c4c;
    font-size               : 100%;
}
.nav-elements ul li a, .tech {
    transition              : all 0.2s ease-in-out;
    cursor                  : pointer;
}
.nav-elements ul li a:hover{
    color                   : v.$color-primary;
    text-shadow             : 0px 0px 40px v.$color-primary;
} 
.navbar {
    display: flex;
    height: 60px;
    position: relative;
}

@include m.screen-type(mini-mobile){
    @include m.menu-icon-style();
}
@include m.screen-type(mobile){
    @include m.menu-icon-style();
}
@include m.screen-type(tablet){
    @include m.menu-icon-style();
}
