@use "variables" as v;

@mixin font($f-size, $ls-size, $f-weight, $f-family, $f-color){
    color                           : $f-color;
    font-size                       : $f-size;
    font-family                     : $f-family;
    font-style                      : normal;
    font-weight                     : $f-weight;
    letter-spacing                  : $ls-size;
    line-height                     : normal;}  

@mixin tgrid($nrow, $ncol, $gap){
    display                         : grid;
    grid-template-rows              : repeat($nrow, 1fr);
    grid-template-columns           : repeat($ncol, 1fr);
    gap                             : $gap;}

@mixin screen-type($screenType){
    @if $screenType == 'mini-mobile' 
    {
        @media only screen and 
        (min-width                  : 0px) and 
        (max-width                  : v.$mini-mobile)   
        { @content; }
    }
    @else if $screenType == 'mobile' {
        @media (min-width           : v.$mini-mobile) and 
        (max-width                  : v.$mobile)        
        { @content; }
    }
    @else if $screenType == 'tablet' {
        @media (min-width           : v.$mobile) and 
        (max-width                  : v.$tablet)        
        { @content; }
    }
    @else if $screenType == 'laptop' {
        @media (min-width           : v.$tablet) and 
        (max-width                  : v.$laptop)        
        { @content; }
    }
    @else if $screenType == 'desktop' {
        @media (min-width           : v.$laptop)        
        { @content; }
    }}   

@mixin menu-icon-mobile-styles(){
    .menu-icon{
        display                     : block;
        cursor                      : pointer;
    }}
    
@mixin menu-nav-elements-mobile-styles(){
    .nav-elements {
        position                    : absolute;
        right                       : 0;
        top                         : 5.5rem;
        background-color            : v.$color-background;
        width                       : 0px;
        height                      : calc(100vh - 60px);
        transition                  : all 0.3s ease-in;
        overflow                    : hidden;
    }
    
    .nav-elements.active {
        width                       : 100%;
        z-index                     : 2;
    }
    .nav-elements ul a { font-size  : 20px; }
    .nav-elements ul {
        display                     : flex;
        flex-direction              : column;
        padding                     : 0;
    }
    
    .nav-elements ul li {
        margin-right                : unset;
        margin-top                  : 3rem;
        text-align                  : center;
    }}