@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$text: #e3fde3;
$background: rgba(134, 192, 140, 0.19);
$dark-background: rgba(14, 32, 21, 0.675);
$primary: #79e8a7;
$secondary: #7c96ce;
$tertiary: #f2707e;
$accent: #d4b926;
$bodyBackground: rgb(27, 27, 27);
$primary-font: 'Cinzel', sans-serif;
$secondary-font: 'Cinzel Decorative', sans-serif;
$tertiary-font: 'Playfair Display', sans-serif;
$quaternary-font: 'Oxygen', sans-serif;
$pixel-font: 'VT323',sans-serif;