@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

//Colors
$color-text: #e3fde3;
$color-bg: #111;
$color-background: rgba(14, 32, 21, 0.675);
$color-primary: #0af;
$color-secondary: #7c96ce;
$color-tertiary: #f2707e;
$color-accent: #d4b926;
$color-body-bg: rgb(27, 27, 27);
//Fonts
$primary-font: 'Cinzel', sans-serif;
$secondary-font: 'Cinzel Decorative', sans-serif;
$tertiary-font: 'Playfair Display', sans-serif;
$quaternary-font: 'Oxygen', sans-serif;
//Sizes
$base-font-size: 16px;
$header-height: 70px;
// Breakpoints
$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;
